body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
}
#container{
    border: 2px solid white;
}
/* #container p{
    /* descendant 
    background-color: darkcyan;
} 
#container > p{
    /* child 
    background-color: rgb(74, 0, 139);
/* }
#container~ p{
    /* general siblings 
    background-color: darkcyan;
} */

#container+ p{
    /* adjacent sibling */
    background-color: darkcyan;
} 
button{
    font-size: 30px;
}
button:hover{
    font-size: 35px;
    background-color: blanchedalmond;
}
button:active{
    font-size: 35px;
    background-color: aquamarine;
}
a{
    color: rgb(183, 209, 90);
    font-size: 40px;
}
a:hover{
    color:yellow;
    font-size: 45px;
}
a:active{
    font-size: 45px;
    color:rgb(15, 211, 205);
}
/* a:visited{
    font-size: 45px;
    color:rgb(0, 255, 153);
} */
ul{
    font-size: 30px;
    color:antiquewhite;
}
li:hover{
    background-color:darkcyan;
}
li:not(:hover){
    background-color: rgb(253, 146, 146);
}
li:nth-child(3n+2){
    background-color: aqua;
}
#greeting{
    font-size: 40px;
}
#greeting p{
    background-color: rgb(253, 146, 146);
    padding: 10px;
    display: none;
}
#greeting:hover p{
    display: block;
}
.Pagination{
    text-align: center;

}
.Pagination a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.Pagination a.active{
    background-color: rgb(56, 236, 176);
    font-weight: bold;
    border-radius: 10px;
}
.Pagination a:hover:not(.active){
    background-color: rgb(168, 167, 167);
    border-radius: 10px;
}