body{
    font-size: 22px;
    margin:10px;
}
h3,h4{
    color: rgb(120, 0, 233);
    font-family: Delius;
    font-size:40px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgb(145, 186, 222);
    text-shadow: 3px 3px 5px rgb(231, 25, 59), -3px -3px 5px rgb(16, 196, 233);
}
/* p{
    color:rgb(255, 127, 127);
    background-color: bisque;
    font-size: 18px;
    width:50%;
    font-family: Delius;
    border: 5px dashed rgb(72, 218, 123);
    border-radius: 20px;
    border-bottom:solid rgb(72, 218, 123);
    
} */
.red{
    border : 2px dashed red;
    color: red;
}
#first{
    background-color: rgb(214, 239, 175);
    font-size: 2rem;
}
#second{
    background-color: rgb(246, 239, 136);
    box-shadow: 5px 5px 4px rgb(255, 111, 0);
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height:250px;
}
#box1{
    background-color: aquamarine;
    margin-top: 50px;
    margin-left: 50px;
}
#box2{
    background-color: beige;
    margin: auto;
}
#img1{
    float:left;
    margin-right: 20px;
}
#img2{
    float:right;
    margin-left: 50px;
}
#box3{
    border:3px solid;
    display: flow-root;
}
.Pagination{
    text-align: center;

}
.Pagination a{
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}
.Pagination a.active{
    background-color: rgb(56, 236, 176);
    font-weight: bold;
    border-radius: 10px;
}
.Pagination a:hover:not(.active){
    background-color: rgb(168, 167, 167);
    border-radius: 10px;
}