body{
    background-color: lightslategray;
}
#box{
    width: 250px;
    height: 250px;
    background-color: rgb(255, 167, 167);
    font-size: 10em;
    text-align: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 5;
    /* opacity: 0; */
}
#box:hover{
    animation-name: glow;
    animation-duration: 2s;
}
@keyframes slideLeft{
    from{
        transform: translateX(600px);
    }
}
@keyframes slideRight{
    to{
        transform: translateX(600px);
    }
}
@keyframes slideUp{
    from{
        transform: translateY(600px);
    }
}
@keyframes slideDown{
    to{
        transform: translateY(600px);
    }
}
@keyframes rotateX{
    100%{
        transform: rotateX(360deg);
    }
}
@keyframes rotateY{
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes rotateZ{
    100%{
        transform: rotateZ(360deg);
    }
}
@keyframes grow{
    50%{
        transform: scale(3,3);
    }
}
@keyframes shrink{
    50%{
        transform: scale(0.5,0.5);
    }
}
@keyframes fade{
    50%{
        opacity:0
    }
}
@keyframes fadein{
    50%{
        opacity:1
    }
}
@keyframes colorChange{
    0%{
        background-color: rgb(255, 167, 167);
    }
    20%{
        background-color: rgb(251, 147, 147);
    }
    40%{
        background-color: rgb(249, 136, 136);
    }
    60%{
        background-color: rgb(241, 79, 79);
    }
    80%{
        background-color: rgb(245, 23, 23);
    }
    100%{
        background-color: rgb(251, 147, 147);
    }
    
}
@keyframes glow{
    50%{
        box-shadow: 0px 0px 50px yellow;
    }
}

