.header{
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;  
    border-bottom: 1px solid rgb(163, 162, 162);  
    box-shadow: gray;
    z-index: 100;
}
.Left-section{
    display: flex;
    align-items: center;
    
}
.Middle-section{
    flex: 1;
    margin-left:70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.Right-section{
    width:180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}
.ham-menu{
    height : 25px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}
.search-bar{
    background-color: rgb(252, 249, 249);
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.0);
    width: 0px;
}
.search-bar::placeholder{
    font-family: Arial;
    font-size: 15px;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
}
.search-button{
    height: 38px;
    width: 65px;
    background-color: rgb(245, 241, 241);
    border: 1px solid rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.voice-search-icon{
    height: 25px;
    width: 30px;
    border: none;
    margin-right: 2px;
}
.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: rgb(244, 242, 242);
    border: none;
}
.upload-icon{
    height: 24px;
}
.apps-icon{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.notifications-container{
    position: relative;
}
.notifications-count{
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(201, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-radius: 10px;
    border: 1px solid white;
}
.curr-user-icon{
    height: 36px;
    border-radius: 18px;
}
.search-button .tooltip, .voice-search-button .tooltip, .upload-icon-container .tooltip,
.apps-container .tooltip, .notifications-container .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip, .voice-search-button:hover .tooltip, .upload-icon-container:hover .tooltip,
.apps-container:hover .tooltip, .notifications-container:hover .tooltip{
    opacity: 1;
}

.search-bar, .voice-search-button, .upload-icon-container, .apps-container,
.notifications-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}