.sidebar{
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 35px;
    
}
.sidebar-link{
    margin-top: 2px;
    height: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-link:hover{
    background-color: rgb(213, 211, 211);
}
.sidebar-link img{
    height: 27px;
    margin-bottom: 5px;
    
}
.sidebar-link div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    
}
