

.thumbnail{
    width: 100%;
}

.channel{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    
}

.title{
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.author, .stats{
    margin-top: 0px;
    font-size: 12px;
    color: rgb(78, 78, 78);
    margin-bottom: 5px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
    
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 10px;
    right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 5px 4px 4px;
    border-radius: 2px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
}

@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}