body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
#quizForm{
    background-color: beige;
    padding: 20px 30px;
    border-radius: 10px;
    border: 2px  solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
}

h1{
    text-align: center;
}

button{
    background-color:lightblue;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}