body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(
    150deg,
    #a8d8ea,
    #fbcce7,
    #fff5ba,
    #b8e1a9,
    #d8bfd8
    );
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; } 
}

h1 {
    color: black;
    margin: 20px 0;
    font-size: 2.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    gap: 20px;
    width: 90%;
    
    max-width: 1200px;
    flex-grow: 1;
}

.player {
    text-align: center;
}

.player h2 {
    color: black;
    margin-bottom: 10px;
}

/* .player img {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
} */

#tic1{
    margin-top: 70px;
    margin-right: 100px;
    height: 500px;
    width: 300px;
}
#tic2{
    height: 500px;
    width: 500px;
}

#tic1, #tic2 {
    transition: width 0.3s ease, height 0.3s ease;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    background-color: #444;
    padding: 10px;
    border-radius: 12px;
    justify-content: center;
    height: 450px;
}

.cell {
    background-color: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.cell:hover{
    background-color: rgb(230, 229, 229)
}

.restart-btn {
    margin: 90px auto 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 310px; /* fixed width */
    height: 50px;
    display: block;
}


.restart-btn:hover {
    background-color: #333;
}



#Winner {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 30px;
    white-space: nowrap;
    overflow: hidden;
}