body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    width: 80px;
    height: 50px;
    border: 1px solid black;
}

#Pink{
    background-color: #FFD1DC;
}
#Blue{
    background-color: #A7C7E7;
}
#Yellow{
    background-color: #FFFACD;
}
#Green{
    background-color: #B5EAD7;
}
#Purple{
    background-color: #D5B8FF;
}

h1{
    color: brown;
    text-align: center;
    height: 200px;
}