@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.shimmer {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.5),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  100% {
    left: 150%;
  }
}