body{
    margin: 0px;
    background-color: black;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid beige
}

.box{
    border: 5px solid beige;
    padding: 20px;
    background-color: rgb(15, 15, 15);
}

.time, .watch{
    text-align: center;
}

.start, .stop, .reset{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    border-radius: 40%;
    background-color: beige;
}