body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#heading{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 155, 245);
    margin-bottom: 15px;
}

h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

.profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
}

.Cards{
    text-align: center;
    border: 2px black solid;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px 10px;

}

img{
    height: 200px;
    border-radius: 50%;
}

.buttonProfile{
    margin-top: 20px;
    margin-left: 20px;

    
}
.inpProfile{
    margin-left: 40vw;
    margin-right: 20px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
}
.buts{
    background-color:  rgb(155, 155, 245);
    border-radius: 20px;
    height: 40px;
    margin-bottom: 20px;
}